<h1>New Booking Arrived</h1>

<p>
  <%= @greeting %>,
  <br>
  you have just booked an awesome Office. Congratulations 🥳
  <br>
  Your booking start date: <%=  @booking.booking_start %>
  <br>
  Your booking end date: <%=  @booking.booking_end %>

  We are happy that you booked this awesome appartment with us. Enjoy your work.
  And do not forget: You are awesome!!!!
  <br>
  <br>
  Have a wonderful and healthy day.
  <br>
  <br>
  Social distance hugs 🤗 from the OBnB Team
  <br>
  Jessica, Maxi, Moritz, and Lena.
  <br>
  <br>
  <br>
  <a href="https://ls-rent-my-office.herokuapp.com/">Checkout our website</a>
</p>
