<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1510074377623-8cf13fb86c08?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80');">
  <div class="container">
    <h1>Office BNB brings amazing workplaces to people with ideas and passion!</h1>
    <p>Start looking for a perfect desk to rent in your area now.</p>
    <% if policy(Office).create? %>
      <%= link_to 'Add a new office', new_office_path, class: 'btn btn btn-success'%>
    <% end %>
    <%= link_to 'Show all offices', offices_path, class: 'btn btn btn-primary'%>
  </div>
</div>

<h1>CTA</h1>
<h1>PLACEHOLD CARDS GRID</h1>





