<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
HELLO WORLD 2



<div class="d-flex justify-content-center mb-5">
<%= link_to 'Add a new Office', new_office_path, class: 'btn btn btn-outline-dark'%>
</div>
