.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  filter: saturate(60%);
  transition-duration: 0.1s;
}


.card-category:hover {
  transform: scale(1.02);
  filter: saturate(120%);
  border-radius: 10px;
  border-color: 3px black;
  transition: 500ms;
  color: #E1195F;
}

.card-category:hover a {
  transform: scale(1.02);
  filter: saturate(120%);
  border-radius: 10px;
  border-color: 3px black;
  transition: 500ms;
  color: #E1195F;
  text-decoration: none;
}

.card-category a{
  color: white;
}
