.form-width {
  width: 70vw;
  background: rgba(225, 25, 95, 0.02);
  // color: rgba(225, 25, 95, 0.2);
  color: #4A4A4A;
  border-radius: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: lighter;
  box-shadow: 0px -2px 2px rgba(34,34,34,0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
    /* For IE 8*/
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
    z-index:10;
    padding:10px;
-moz-box-shadow:0px 0px 2px #E1195F;
-webkit-box-shadow:0px 0px 2px #E1195F;
box-shadow:0px 0px 2px #E1195F;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
}


.icon-box {
  padding-top: 120px;
  padding-bottom: 120px;
}
